body {
  /* background-color: #ddcba8; */
  margin: 0px;
  background-color: #ddcba8;
}

#X {
  width: 50px;
  height: 50px;
  filter: blur(5px);
  position: absolute;
  background: #2f3ad6;
  border-radius: 50%;
  transform: translateX(-50%) translateY(-50%);
}

#headerContainer {
  height: 38vh;
  width: auto;
  display: inline-block;
  width: 100vw;
  line-height: 9vw;
  position: relative;
  top: 10vh;
}
#headerContainer span {
  height: auto;
}
#sydney {
  font-family: "Roboto Slab", serif;
  font-size: calc(12px + 11vw);
  letter-spacing: 0.01%;
  color: white;
  padding-left: 3vw;
}
#journal {
  font-family: "Roboto Slab", serif;
  font-size: calc(12px + 11vw);
  letter-spacing: 0.01%;
  color: white;
  padding-left: 3vw;
}

#descriptionContainer {
  text-align: right;
  height: 20vh;
  display: block;
}

#classDescription {
  color: white;
  font-size: calc(12px + 2vw);
  font-weight: 400;
  font-family: "Roboto Slab", serif;
  padding-right: 2vw;
  position: relative;
  top: 100px;
}

#journalContainer {
  margin-top: -20px;
  height: auto;
  font-family: "Roboto Condensed", sans-serif;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-column-gap: 0%;
  grid-row-gap: 0%;
}

#entry {
  height: auto;
  padding-top: 2vw;
  padding-bottom: 2vw;
}

#entryTitle {
  text-align: left;
  font-size: calc(12px + 2vw);
  font-weight: 400;
  color: white;
  padding-left: 3vw;
}

#entryDate {
  text-align: right;
  font-size: calc(12px + 1vw);
  font-weight: 400;
  color: white;
  padding-right: 3vw;
}

#entryText {
  width: auto;
  height: auto;
  padding-left: 3vw;
  padding-right: 3vw;
  color: white;
  font-size: calc(12px + 1vw);
  text-align: justify;
}

#entry1 {
  grid-area: 1 / 1 / 2 / 2;
  border: white 1px solid;
}

#border1 {
  border: 3px solid white;
  padding: 0.8vw;
  border-radius: 20px;
}

#entry2 {
  grid-area: 1 / 2 / 2 / 3;
  border: white 1px solid;
}

#border2 {
  border: 3px solid white;
  padding: 0.8vw;
  border-radius: 10px;
}

#entry3 {
  grid-area: 2 / 1 / 3 / 2;
  border: white 1px solid;
}

#border3 {
  border: 3px solid white;
  padding: 0.8vw;
  border-radius: 60px;
}

#entry4 {
  grid-area: 2 / 2 / 3 / 3;
  border: white 1px solid;
}

#border4 {
  border: 3px solid white;
  padding: 0.8vw;
  border-radius: 0px;
}
#entry5 {
  grid-area: 3 / 1 / 4 / 2;
  border: white 1px solid;
}

#border5 {
  border: 3px solid white;
  padding: 0.8vw;
  border-radius: 200px;
}

a {
  color: white;
  text-decoration: underline;
}

#articleName {
  font-style: italic;
}

#buttonContainer {
  position: relative;
  left: 50vw;
  width: 50vw;
  height: auto;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  margin-top: 1vw;
}

#nightVision {
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 500;
  display: inline-block;
  font-size: calc(12px + 1vw);
  padding: 0.3em 1.2em;
  margin-top: 1vw;
  border: 3px white solid;
  box-sizing: border-box;
  text-decoration: none;
  color: white;
  background-color: transparent;
  text-align: center;
  border-radius: 75px;
}

#thermalVision {
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 500;
  display: inline-block;
  font-size: calc(12px + 1vw);
  padding: 0.3em 1.2em;
  margin-top: 1vw;
  border: 3px white solid;
  box-sizing: border-box;
  text-decoration: none;
  color: white;
  background-color: transparent;
  text-align: center;
  border-radius: 75px;
}

#resetButton {
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 500;
  display: inline-block;
  font-size: calc(12px + 1vw);
  padding: 0.3em 1.2em;
  margin-top: 1vw;
  border: 3px white solid;
  box-sizing: border-box;
  text-decoration: none;
  color: white;
  background-color: transparent;
  text-align: center;
  transition: all 0.2s;
  border-radius: 75px;
}

@media (min-width: 801px) and (max-width: 1300px) {
  body {
    cursor: pointer;
  }
  #headerContainer {
    cursor: pointer;
  }
  #descriptionContainer {
    cursor: pointer;
  }
  a {
    cursor: pointer;
  }
  #journalContainer {
    cursor: pointer;
  }
  #buttonContainer {
    width: 60vw;
    left: 38vw;
    height: auto;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin-top: 1vw;
  }
  #X {
    display: none;
  }
  #headerContainer {
    height: 30vh;
  }
  #descriptionContainer {
    text-align: right;
    height: 19vh;
  }
  #journalContainer {
    grid-template-columns: 100%;
    grid-column-gap: 0%;
    grid-row-gap: 0%;
  }
  #entry1 {
    grid-area: 1 / 1 / 2 / 2;
  }
  #entry2 {
    grid-area: 2 / 1 / 3 / 2;
  }
  #entry3 {
    grid-area: 3 / 1 / 4 / 2;
  }
  #entry4 {
    grid-area: 4 / 1 / 5 / 2;
  }
  #entry5 {
    grid-area: 5 / 1 / 6 / 2;
  }
}

@media (min-width: 361px) and (max-width: 800px) {
  body {
    cursor: pointer;
  }
  #headerContainer {
    cursor: pointer;
  }
  #descriptionContainer {
    cursor: pointer;
  }
  a {
    cursor: pointer;
  }
  #journalContainer {
    cursor: pointer;
  }
  #nightVision {
    padding: 0.2em 1em;
    margin-top: 1vw;
    border: 2px white solid;
  }

  #thermalVision {
    padding: 0.2em 1em;
    margin-top: 1vw;
    border: 2px white solid;
  }

  #resetButton {
    padding: 0.2em 1em;
    margin-top: 1vw;
    border: 2px white solid;
  }

  #buttonContainer {
    width: auto;
    left: 0vw;
    margin: auto;
    height: auto;
    display: flex;
    /* justify-content: space-between; */
    flex-direction: row;
    margin-top: 1vw;
  }
  #X {
    display: none;
  }
  #headerContainer {
    height: 23vh;
  }
  #descriptionContainer {
    text-align: right;
    height: 19vh;
  }
  #journalContainer {
    grid-template-columns: 100%;
    grid-column-gap: 0%;
    grid-row-gap: 0%;
  }

  #sydney {
    padding-left: 3vw;
  }
  #journal {
    padding-left: 3vw;
  }
  #classDescription {
    color: white;
    text-align: center;
    padding-right: 3vw;
  }
  #journalContainer {
    grid-template-columns: 100%;
    grid-column-gap: 0%;
    grid-row-gap: 0%;
  }
  #entryText {
    padding-right: 3vw;
    padding-left: 3vw;
  }
  #entry1 {
    grid-area: 1 / 1 / 2 / 2;
    padding-top: 0.5vw;
  }
  #entry2 {
    grid-area: 2 / 1 / 3 / 2;
  }
  #entry3 {
    grid-area: 3 / 1 / 4 / 2;
  }
  #entry4 {
    grid-area: 4 / 1 / 5 / 2;
  }
  #entry5 {
    grid-area: 5 / 1 / 6 / 2;
  }
  #border1 {
    padding: 1.5vw;
    border-width: 2px;
    border-radius: 20px;
  }
  #border2 {
    padding: 1.5vw;
    border-width: 2px;
    border-radius: 5px;
  }
  #border3 {
    padding: 1.5vw;
    border-width: 2px;
    border-radius: 50px;
  }
  #border4 {
    border-width: 2px;
    padding: 1.5vw;
    border-radius: 0px;
  }
  #border5 {
    border-width: 2px;
    padding: 1.5vw;
    border-radius: 200px;
  }
}

@media (max-width: 260px) {
  body {
    cursor: pointer;
  }
  #headerContainer {
    cursor: pointer;
  }
  #descriptionContainer {
    cursor: pointer;
  }
  a {
    cursor: pointer;
  }
  #journalContainer {
    cursor: pointer;
  }
  #nightVision {
    padding: 0.1em;
    margin-top: 1vw;
    border: 1px white solid;
  }

  #thermalVision {
    padding: 0.1em;
    margin-top: 1vw;
    border: 1px white solid;
  }

  #resetButton {
    padding: 0.1em;
    margin-top: 1vw;
    border: 1px white solid;
  }

  #buttonContainer {
    width: auto;
    left: 0vw;
    margin: auto;
    height: auto;
    display: flex;
    /* justify-content: space-between; */
    flex-direction: row;
    margin-top: 1vw;
    display: relative;
    bottom: 3vw;
  }
  #X {
    display: none;
  }
  #headerContainer {
    height: 20vh;
  }
  #descriptionContainer {
    height: 23vh;
  }
  #journalContainer {
    grid-template-columns: 100%;
    grid-column-gap: 0%;
    grid-row-gap: 0%;
  }
  #sydney {
    padding-left: 3vw;
  }
  #journal {
    padding-left: 3vw;
  }
  #classDescription {
    color: white;
    text-align: center;
    padding-right: 3vw;
  }
  #journalContainer {
    grid-template-columns: 100%;
    grid-column-gap: 0%;
    grid-row-gap: 0%;
  }
  #entryText {
    padding-right: 3vw;
    padding-left: 3vw;
  }
  #entry1 {
    grid-area: 1 / 1 / 2 / 2;
    padding-top: 0.5vw;
  }
  #border1 {
    padding: 1.5vw;
    border-width: 2px;
    border-radius: 20px;
  }
  #entry2 {
    grid-area: 2 / 1 / 3 / 2;
    padding-top: 0.5vw;
  }
  #border2 {
    padding: 1.5vw;
    border-width: 2px;
    border-radius: 5px;
  }
  #entry3 {
    grid-area: 3 / 1 / 4 / 2;
    padding-top: 0.5vw;
  }
  #border3 {
    padding: 1.5vw;
    border-width: 2px;
    border-radius: 50px;
  }
  #entry4 {
    grid-area: 4 / 1 / 5 / 2;
    padding-top: 0.5vw;
  }
  #border4 {
    padding: 1.5vw;
    border-width: 2px;
    border-radius: 0px;
  }
  #border5 {
    border-width: 1px;
    padding: 1.5vw;
    border-radius: 200px;
  }
  #entry5 {
    grid-area: 5 / 1 / 6 / 2;
  }
}
